<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Streaming Insights</title>
    <link rel="stylesheet" href="page1.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>


      <nav class="navbar fixed-top navbar-dark" style="background-color : #211c1c">
        <a href="#" class="navbar-brand">Conviva</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item-active">
          <a href="#" class="nav-link">Sign In</a>
          </li>

        </ul>

      </nav>




    <div>

      <div id="header" class="jumbotron">

        <div id="myheading">

          <h1>All Devices & Game of Thrones</h1>

        </div>

        <div id="myselect">

          <select id="myselect" class="custom-select-sm">
            <option value="1">30</option>
            <option selected value="2">1 hour</option>

          </select>

        </div>

      </div>

      <table id="mytable" class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
            <th>Devices</th>
            <th>Assests</th>
            <th>Bitrate</th>
            <th>Attempts</th>
            <th>VST</th>
            <th>Concurrent Plays</th>
            <th>EBVS</th>
            <th>VST</th>
            <th>VRT</th>
            <th>Rebuffering Ratio</th>
            <th>ABR Buffering</th>
        </thead>

        <tr>
          <td>All</td>
          <td>Asset1</td>
          <td>200</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>

        <tr>
          <td>iOS</td>
          <td>Asset2</td>
          <td>200</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>

        <tr>
          <td>Android</td>
          <td>Asset3</td>
          <td>200</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>


      </table>

    </div>



  </body>
</html>
