<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sales_HeadCount</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">

      <div class="jumbotron" style="text-align:center">

        <h1>Sales HeadCount</h1>

        <p> This page calculates the headcount of sales employees broken down by dates</p>

           {{ sales_data }}

      </div>

    </div>

  </body>
</html>
